#!/usr/bin/make -f

export PYBUILD_NAME=txttomp3
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/txttomp3
export PYBUILD_TEST_PYTEST=1
export PYBUILD_DISABLE_python3=test

%:
	dh $@ --with python2 --buildsystem=pybuild
